@media (min-width: 992px) {
    body > header {
        min-height: 75px;
    }
    
    nav {
        min-height: 75px;
        display: flex;
        background: white;
        align-items: center;
    }
    
    nav h1 {
        margin-right: auto;
        font-size: 36px;
    }
    
    #navbar__toggle {
        display: none;
    }
    
    ul {
        padding: 0 20px 0 0;
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
    }
}
