@media screen and (min-width: 768px) and (max-width: 991px) {
    body > header {
        min-height: 75px;
    }

    body > footer {
        height: 50vw;
        flex-direction: row;
    }

    nav {
        min-height: 75px;
    }
    
    nav h1 {
        height: 75px;
        line-height: 75px;
        font-size: 36px;
    }

    #navbar__toggle {
        top: 20px;
    }

    footer > article, footer > iframe {
        width: 50%;
        height: 100%;
    }
}
