@media screen and (min-width: 768px) and (max-width: 991px) {
    body > header {
        min-height: 75px;
    }

    nav {
        min-height: 75px;
    }
    
    nav h1 {
        height: 75px;
        line-height: 75px;
        font-size: 36px;
    }

    #navbar__toggle {
        top: 20px;
    }
}
