@media screen and (max-width: 767px) {
    svg {
        display: block;
        width: 100%;
        height: 80vh;
    }
    svg > a:first-child > path {
        cursor: pointer;
        fill: #ccc;
      }
      svg > a:last-child > path {
        cursor: pointer;
        fill: #999;
      }
}