{% load static %}

<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Manticore | {% block title %}Title{% endblock title %}</title>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro">
    <link rel="stylesheet" href="{% static 'css/base_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_tablet.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_desktop.css' %}">
    
    <script src="{% static 'js/base.js' %}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body> 
    <header>
        <nav>
            <h1><a href="{% url 'home' %}">Manticore</a></h1>
            <i id="navbar__toggle" class="fas fa-bars" onclick="toggleMenu()"></i>
            <ul id="navbar__menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                {% if user.is_authenticated %}
                    <li><a href="">Profile</a></li>
                    <li><a class="button" id="button__logout" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li>
                        <a class="button" id="button__signup" href="{% url 'signup' %}">Sign up</a>
                        <a class="button" id="button__login" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="container">
        {% block content %}
            
        {% endblock %}
    </main>

    <footer>
        <!-- Footer Text -->
    </footer>

</body> 
</html>
