{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="/static/css/signup_mobile.css" />
    <link rel="stylesheet" href="/static/css/signup_desktop.css" />
{% endblock %}

{% block content %}

<section>
    <header>
        <h1>Signup</h1>
        <p>Enter our world of <span>Machine Learning</span></p>
        <div class="header__shade"></div>
    </header>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>
</section>

{% endblock %}